body{
    background-color: deepskyblue;
}

.mapdiv{
    width: 100%;
    margin: auto;
}

.mapdiv path{
    fill: forestgreen;
    stroke: black;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.mapdiv :hover{
    fill: yellow;
    display: -webkit-box;
}



